{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<form action="">
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">课程编号：</span>
        <input type="text" class="form-control" placeholder="课程编号" aria-describedby="sizing-addon1" name="c_id">
    </div>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">课程名称：</span>
        <input type="text" class="form-control" placeholder="课程名称" aria-describedby="sizing-addon1" name="c_name">
    </div>
    <div class="input-group input-group-lg dropdown">
        <span class="input-group-addon" id="sizing-addon1">授课老师：</span>
         <button class="btn btn-default dropdown-toggle" type="button" id="t_id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                请选择
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="teacher">
            </ul>
    </div>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">学分：</span>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="class" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                请选择
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">1.0</a></li>
                <li><a href="#">2.0</a></li>
                <li><a href="#">3.0</a></li>
                <li><a href="#">4.0</a></li>
                <li><a href="#">5.0</a></li>
                <li><a href="#">6.0</a></li>
            </ul>
        </div>
    </div>
    <div class="submit">
        <input type="submit" class="btn btn-default" value="提交" id="submit2">
    </div>
</form>
</body>
</html>